<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Kurtis-Hill" content="HomeAppP">
    <title>{% block title %}Home App{% endblock %}</title>
</head>

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap4') }}
    {{ encore_entry_link_tags('font-awesome') }}
    {{ encore_entry_link_tags('Appcss') }}
    {{ encore_entry_link_tags('sb-admin2') }}
{% endblock %}


{% block body %}
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('react-app') }}
{% endblock %}
</html>

