{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('bootstrap4') }}
     {{ encore_entry_link_tags('font-awesome') }}
{#     {{ encore_entry_link_tags('font-awesome-brands') }}#}
{#     {{ encore_entry_link_tags('font-awesome-solid') }}#}
     {{ encore_entry_link_tags('Appcss') }}
     {{ encore_entry_link_tags('sb-admin2') }}
 {% endblock %}

{% block body %}
    <body>
        <div id="root"></div>
    </body>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('react-app') }}
{#    {{ encore_entry_script_tags('font-awesome-all-js') }}#}
{#    {{ encore_entry_script_tags('font-awesome-brands-js') }}#}
{#    {{ encore_entry_script_tags('font-awesome-regular-js') }}#}
{#    {{ encore_entry_script_tags('font-awesome-solid-js') }}#}
{#    {{ encore_entry_script_tags('font-awesome-shims-js') }}#}
{% endblock %}
