{% extends 'logged-in-default.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/chart-bundle.js') }}"></script>
    <script src="{{ asset('build/card-update.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">The Home Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

{% if cardViewForm is defined %}
    {{ form_start(cardViewForm) }}
{#    {{ form_row(cardViewForm.cardicon) }}#}
    {{ form_row(cardViewForm.cardcolourid) }}
{#    {{ form_row(cardViewForm.cardviewOne) }}#}
    {% if cardViewForm.cardviewTwo is defined %}
        {{ form_row(cardViewForm.cardviewTwo) }}
    {% endif %}
{#    <button class="btn">Register</button>#}
    {{ form_end(cardViewForm) }}
    {% endif %}
<div class="row" id="updateData">
    {% include 'template-assets/cards.html.twig'%}
</div>
{% endblock %}
